<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="./topic_style.css" rel="stylesheet">
    </head>
        <h1>オープンチャット</h1>
        <div><%= error %></div>

        <form method="post" action="/topic" id="chooseTopics">
            <% for(var i in content){ %>
                <% var obj = content[i].attributes; %>
                <input type="radio" id="topic<%= i %>" name="topic" value="<%= obj.topic %>">
                <label for="topic<%= i %>"><%= obj.topic %></label>
            <% } %>
            <input type="submit" value="選択" id="submitBtn" disabled>
        </form>
        <a href="/calclation">電卓</a>
        <a href="/make_topic" id="topiclink">トピックを作成する</a>
        <script src="./topic.js"></script>
    </body>
</html>